<%= simple_form_for(@homeless) do |t| %>

  <div class = "sign-in-text form-group row">
  <div class="col-10">
  <%= t.input :name , placeholder: "Peter", input_html:{class: "form-control"}%>
  </div>
  </div>

  <div class="sign-in-text form-group row">
    <div class="col-10">
  <%= t.input :last_name, placeholder: "Parker", input_html:{class: "form-control"}%>
  </div>
  </div>
<!--
  <div class="sign-in-text">
    <%= t.label :story %>
  <%= t.text_area :story, rows: 10, cols: 25 %>
  </div> -->

  <div class="sign-in-text form-group row"> <i class="fa fa-map-marker" aria-hidden="true"></i>
  <%= t.label :location %>
  <div class="col-10">
  <%= t.input :location, label: false, :size => 50, input_html:{class: "location form-control"}%>
  </div>
  </div>

  <div class="sign-in-text form-group row"> <i class="fa fa-whatsapp" aria-hidden="true"></i>
    <%= t.label :phone %>
    <div class="col-10">
  <%= t.input :phone, label: false, placeholder: "+() 5455664455 ", input_html:{class: "form-control"}%>
  </div>
  </div>

 <!--  <div class="sign-in-text form-group row"> <i class="fa fa-facebook-official blue-button" aria-hidden="true"></i>
    <%= t.label :fb_account %>
    <div class="col-10">
  <%= t.input :fb_account, label: false, placeholder: "#{t('blank')}", input_html:{class: "form-control"}%>
  </div>
  </div> -->

  <div class="sign-in-text form-group row"> <i class="fa fa-file-text-o" aria-hidden="true"></i>
    <%= t.label :skills %>
    <div class="col-10">
  <%= t.input :skills, label: false,  placeholder: "#{t('optional')}", input_html:{class: "form-control"} %>
  </div>
  </div>

  <div class="sign-in-text form-group row"> <i class="fa fa-file-text-o" aria-hidden="true"></i>
    <%= t.label :story %>
    <div class="col-10">
  <%= t.input :story, label: false,  placeholder: "#{t('optional')}", input_html:{class: "form-control"} %>
  </div>
  </div>

  <%= t.submit "#{t('add-hml')}", class: "btn btn-yours btn-login"%>

<% end %>
