<%= form_for(@homeless) do |t| %>

  <div class = "sign-in-text form-group row">
  <%= t.label :name %>
  <div class="col-10">
  <%= t.text_field :name , placeholder: "Peter", class: "form-control"%>
  </div>
  </div>

  <div class="sign-in-text form-group row">
    <%= t.label :last_name %>
    <div class="col-10">
  <%= t.text_field :last_name, placeholder: "Parker", class: "form-control"%>
  </div>
  </div>
<!--
  <div class="sign-in-text">
    <%= t.label :story %>
  <%= t.text_area :story, rows: 10, cols: 25 %>
  </div> -->

  <div class="sign-in-text form-group row"> <i class="fa fa-map-marker" aria-hidden="true"></i>
  <%= t.label :location %>
  <div class="col-10">
  <%= t.text_field :location, :size => 50, class: "location form-control"%>
  </div>
  </div>

  <div class="sign-in-text form-group row"> <i class="fa fa-whatsapp" aria-hidden="true"></i>
    <%= t.label :phone %>
    <div class="col-10">
  <%= t.text_field :phone, placeholder: "+() 5455664455 ", class: "form-control"%>
  </div>
  </div>


  <div class="sign-in-text form-group row"> <i class="fa fa-facebook-official blue-button" aria-hidden="true"></i>
    <%= t.label :fb_account, "Facebook account" %>
    <div class="col-10">
  <%= t.text_field :fb_account, placeholder: "If not, leave it blank", class: "form-control"%>
  </div>
  </div>

  <div class="sign-in-text form-group row"> <i class="fa fa-file-text-o" aria-hidden="true"></i>
    <%= t.label :story %>
    <div class="col-10">
  <%= t.text_area :story,  placeholder: "Optional", class: "form-control" %>
  </div>
  </div>

  <%= t.submit "Add a Rised", class: "btn-yours btn-login"%>
<% end %>
