<div class='homeless_phone' >
<p> <%= t("no-phone") %> </p>
<p> <%= t("last-position") %> <span class="type-rise"> <%= @homeless.name %></span> <%= t("blue-pin") %> </p>
</div>

<span class="close"> <%= t("close") %> </span>
