<div class='homeless_phone' >
<p> <%= t("phone-reg") %> </p>
<p> <%= t("contact") %> <%= @homeless.nickname %> <%= t("at") %> <span class="type-rise"> <%= @homeless.phone %> </span> <%= t("define") %> </p>
<p> <%= t("addition") %> <span class="type-rise"> <%= @homeless.nickname %> </span><%= t("position-map") %></p>
<p> <%= @homeless.fb_account %>  </p>
</div>

<img src='<%=image_path('http://res.cloudinary.com/dk9kkvy1o/image/upload/v1504201551/Capture_d_e%CC%81cran_2017-08-31_a%CC%80_14.45.21_wk1auj.png') %>' class='img-responsive photo-modal'>

<span class="close"> <%= t("close") %></span>

