<% if @intention.errors.present? %>
  $("#error-message").html(" <p class= sign-in-text> <%= t("choose") %> </p>")
<% else %>
  <% if @homeless.phone.present? %>
    $("#homeless_modal").html(" <p class='homeless_phone'> Phone registered !!! Contact <%= @homeless.name %> at <%= j @homeless.phone %> and define When and What to give. </p> <p> <%= j @homeless.fb_account %> </p> <span class='close'>Close</span>")
  <% else %>
    var str = "<p class='homeless_phone' > No one Phone registered yet. Therefore find <%= @homeless.name %> with the last 5 markers position revealed on the map. The blue markers with the letter A shows the most recent one.  </p> <span class='close'>Close</span>";
    $("#homeless_modal").html(str);
  <% end %>

  var span = document.getElementsByClassName("close")[0];
  span.onclick = function() {
    modal.style.display = "none";
  }

  $("#map").html('<div id="map" style="width: 100%; height: 200px;"></div>')
  $(document).ready(function() {
      var handler = Gmaps.build('Google',
        {markers:
          {clusterer: {
          gridSize: 200,
          maxZoom: 10}}});
          handler.buildMap({internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
          }
      });
    });
<% end %>

// <img src='<%=image_path('geolocation.png') %>' class=''>
