<h5> <%= t("update-loc")%> </h5>

<div class = "container">
  <div class="row">
<%= form_tag retrieve_homelesses_path, method: :get, remote: true, class:"sign-in-text col-md-4 col-md-offset-4" do %>
<label for="name"> <%= t("name")%></label>
  <%= text_field_tag :name, params[:name], class: "form-control sign-in-text form-group row"%>
  <label for="last_name"> <%= t("last-name")%> </label>
  <%= text_field_tag :last_name, params[:last_name],class: "form-control sign-in-text form-group row" %>
  <div class="text-center">
  <%= submit_tag "#{t('search-button')}", name: nil, class: "btn btn-yours" %>
  </div>
<% end %>

</div>
</div>

<div class= "row give-me-space">
<div class= "col-md-4 col-md-offset-4">
<div id="location-result"> </div>

<div id="error-message"> </div>

</div>
</div>


