<% content_for :title, "#{@homeless.name} #{@homeless.last_name}" %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=138160146783533";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class= "avatar avatar-big">
        <% if @homeless.photos.any? %>
        <%= cl_image_tag @homeless.photos.last.picture, height: 120, width: 120, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
     <div class="sign-in-text text-center">
       <h5> <%= @homeless.name%> <%= @homeless.last_name %> </h5>

       <div class="fb-share-button fb-button up" data-href="<%= homeless_url(@homeless) %>" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore " target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= ERB::Util.url_encode homeless_url(@homeless) %>&amp;src=sdkpreparse">Share</a></div>

       <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
        <script type="IN/Share" data-counter="right" data-url="<%= homeless_url(@homeless) %>"></script>

       </div>
   </div>
 </div>

 <div class="row">
  <div class="col-sm-6">
    <div class= "sign-in-text">
      <% if @homeless.story.present? %>
      <p> <strong> <%= t("story")%></strong> </p>
      <%= @homeless.story %>
      <% else %>
      <%= link_to t("create-story"), edit_homeless_path(@homeless), class: "btn btn-primary" %>
      <% end  %>
    </div>

    <div class="sign-in-text breathe">
      <% if @homeless.skills.present? %>
      <p> <strong> <%= t("skills")%></strong> </p>
      <%= @homeless.skills %>
      <% else %>
      <%= link_to t("create-skills"), edit_homeless_path(@homeless), class: "btn btn-info" %>
      <% end  %>
    </div>
  </div>

  <div class="col-sm-4 col-sm-offset-2">
  <% if riser_signed_in? %>
    <div class= "sign-in-text">
      <%= simple_form_for [@homeless, @photo] do |f| %>
        <%= f.input :picture, label: t("add-picture") %>
        <%= f.input :picture_cache, as: :hidden %>
        <%= f.submit t("update-picture"), class: "btn btn-yours2" %>
      <% end %>
    </div>
  <% else %>
    <div>
    <%= link_to "Upload picture", sign_in_homeless_photos_path(@homeless), class: "btn btn-yours" %>
    </div>
  <% end %>
<%= link_to "#{t('edit-name')} #{@homeless.name}", edit_homeless_path(@homeless), class: "btn btn-primary btn-edit" %>

  </div>
</div>
</div>

<div class= "text-center">
  <% if riser_signed_in? %>
    <button id="myBtn" class="btn btn-yours btn-contact" > <%= t("contact-pos") %> <%= @homeless.name %> </button>
  <%else%>
    <%= link_to "#{t('contact-pos2')} #{@homeless.name} " , new_riser_session_path , class: "btn btn-yours btn-contact" %>
    </p>
  <% end %>
<div>

<!-- The Modal -->
<div id="myModal" class="modal" role="dialog">
  <!-- Modal content -->
    <div class="modal-content" id="homeless_modal">
      <%= simple_form_for(@intention, remote: true, url: create_interest_homeless_path(@homeless)) do |f| %>
        <%= f.input :content, label: t("choose-intention"), collection: Intention::OPTIONS.map{ |o| t(o) }, input_html: {class:"sign-in-text"}, label_html: {class:"sign-in-text"} %>
        <div id="error-message"> </div>
        <%= f.submit "#{t('get-contact-button')}", class:"btn btn-primary" %>
      <% end %>
    </div>
</div>


<div id="map" style="width: 100%; height: 400px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google',
        {markers:
          {clusterer: {
          gridSize: 200,
          maxZoom: 10}}});
          handler.buildMap({internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
          }
          handler.removeMarkers(markers);
      });
    });

    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  <% end %>
<% end %>

<!-- <div class= "text-center">
<p> <%= link_to "Create a review", new_homeless_review_path(@homeless), class: "btn btn-yours btn-show " %> </p>
<div> -->

  <div class="container">
    <div class="row">
      <% @homeless.reviews.last(3).each do |review| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="testimonial give-me-space">
          <div class="pic">
            <%= image_tag review.riser.picture %>
          </div>
          <h3 class="testimonial-title"><%= "#{review.riser.name} #{review.riser.last_name}" %></h3>
          <!-- <small class="post"></small> -->
          <p class="description">
            <%= review.content.truncate(100) %>...
          </p>
            <%= image_tag review.picture, class: "img-responsive img-center" %>
        </div>

      </div>
      <% end %>
    </div>
  </div>


