<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "riselogo22.png" %>
  <% end %>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

     <div class="navbar-wagon-right ">
      <!--<a href="https://www.patreon.com/allanballester" target="blank" class="navbar-wagon-item navbar-wagon-link btn-yours4"> <i class="fab fa-patreon"></i> Become a Patron </a> %>-->
      <%= link_to t("Donate"), pages_donate_path , class: "navbar-wagon-item navbar-wagon-link btn-yours3" %>
    </div>

      <div class="fb-share-button goright" data-href="http://www.risekindness.com" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.risekindness.com%2F&amp;src=sdkpreparse">Share</a></div>

      <!-- <div class="navbar-wagon-right hidden-xs ">
        <%= link_to t("Developers"), pages_developers_path , class: "navbar-wagon-item navbar-wagon-link "%>
      </div>

      <div class="navbar-wagon-right ">
        <%= link_to t("Risers"), pages_risers_path , class: "navbar-wagon-item navbar-wagon-link " %>
      </div> -->

  <div class="navbar-wagon-item hidden-xs">
          <div class="dropdown">
            <div class="dropdown-toggle" style="color: #333" data-toggle="dropdown" id="navbar-wagon-menu"><%= I18n.locale.upcase %>
            </div>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

          <li><%= link_to "English", request.query_parameters.merge(locale: nil) %></li>

      <li><%= link_to "French", request.query_parameters.merge(locale: :fr) %></li>

      <li><%= link_to "Spanish", request.query_parameters.merge(locale: :es) %></li>
    </ul>
    </div>
    </div>



    <% if riser_signed_in? %>

      <!-- Links when logged in -->



      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item navbar-wagon-right hidden-xs">
        <div class="dropdown">
          <% avatar_url = current_riser.facebook_picture_url || "https://i.stack.imgur.com/HQwHI.jpg" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu hidden-xs">
            <!-- <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Homepage") %>
              <% end %>
            </li> -->
            <li>
              <%= link_to destroy_riser_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t("sign_out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_riser_session_path, class: "navbar-wagon-item navbar-wagon-link hidden-xs" %>
    <% end %>
  </div>



</div>



