<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "riselogo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

<%= link_to t("our-story"), pages_our_story_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t("contribute"), pages_join_us_path , class: "navbar-wagon-item navbar-wagon-link" %>

    <% if riser_signed_in? %>

      <!-- Links when logged in -->


      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_riser.facebook_picture_url || "https://i.stack.imgur.com/HQwHI.jpg" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_riser_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t("sign_out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_riser_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>


  <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
    <li>
      <%= link_to request.query_parameters.merge(locale: nil) do %>
        <%= image_tag("favicon.png") %>
      <% end %>
    </li>
    <li><%= link_to "fr", request.query_parameters.merge(locale: :fr) %></li>
    <li><%= link_to "es", request.query_parameters.merge(locale: :es) %></li>
  </ul>

</div>



