<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "riselogo22.png" %>
  <% end %>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

     <div class="navbar-wagon-right ">
      <%= link_to t("Donation"), pages_donate_path , class: "navbar-wagon-item navbar-wagon-link btn-yours3" %>
    </div>

  <div class="navbar-wagon-item">
          <div class="dropdown">
            <div class="dropdown-toggle" style="color: #333" data-toggle="dropdown" id="navbar-wagon-menu"><%= I18n.locale.upcase %>
            </div>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

          <li><%= link_to "English", request.query_parameters.merge(locale: nil) %></li>

      <li><%= link_to "French", request.query_parameters.merge(locale: :fr) %></li>

      <li><%= link_to "Spanish", request.query_parameters.merge(locale: :es) %></li>
    </ul>
    </div>
    </div>



    <% if riser_signed_in? %>

      <!-- Links when logged in -->



      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item navbar-wagon-right">
        <div class="dropdown">
          <% avatar_url = current_riser.facebook_picture_url || "https://i.stack.imgur.com/HQwHI.jpg" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <!-- <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Homepage") %>
              <% end %>
            </li> -->
            <li>
              <%= link_to destroy_riser_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t("sign_out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_riser_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>



</div>



