<div class= "banner cover middle-pic" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dk9kkvy1o/image/upload/v1504212370/1_1_dzdz_e4wvuq.jpg');">



<div class="col-xs-12 col-sm-8 col-md-8 offset-4">
<p class= "text-donation"> Support us to keep our social business growthing (also alive !). </p>


<div class = "text-center">

<% [5, 10, 25, 50].each do |amount| %>

  <%= form_tag donations_path(amount: amount), class: "inline-buttons donation3" do %>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="RiSE"
      data-description=" RiSE 5€ Donation"
      data-amount="<%= amount*100 %>"
      data-label="Donate <%= amount %>€"
      data-email="<%= current_riser&.email%>"
      data-currency="<%= @donation.amount.currency %>">
    </script>

  <% end %>

<% end %>

</div>

<%= image_tag "http://res.cloudinary.com/dk9kkvy1o/image/upload/v1504210988/hostiso-stripe_al5phm.png", class: "donation2" %>
</div>

</div>

</div>


