<div class="container">
                    <div class="row">
                        <div class="heading-title text-center">
                            <h3 class="text-uppercase">Our Startup is a Lab 👨‍🔬 !!</h3>
                            <p class="p-top-30 half-txt"> There is space for anybody to express their creativity and talent in order to grow while making RiSE growing too. Designers, Community Managers, Operations leaders, Growth Hackers, everybody is welcome.  </p>

                              <div class="text-center p-top-10">
                         <a href="https://join.slack.com/t/needafewgotalot/shared_invite/enQtNTI2MDU4NzU1NzY3LTI3ZGRhMTQwNGI0YjBkYTU4YTgxYjczZmRjNjZhMzkwZTBlNjI3NDI5ZGFkN2JmNGQ0MzNmZTYzMGIyMmE2ZDU" class="navbar-wagon-item navbar-wagon-link btn-yours5" target="blank"> Join our Slack <i class="fa fa-slack"></i></a>
                         <!-- <%= link_to t("readart"), "https://join.slack.com/t/needafewgotalot/shared_invite/enQtNTI2MDU4NzU1NzY3LTI3ZGRhMTQwNGI0YjBkYTU4YTgxYjczZmRjNjZhMzkwZTBlNjI3NDI5ZGFkN2JmNGQ0MzNmZTYzMGIyMmE2ZDU" , target: :_blank, class: "navbar-wagon-item navbar-wagon-link btn-yours4" %> -->
                              </div>

                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547637172/P1122194_1_2_maplb4.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Hi Social Entrepreneurs 🙋🏻‍♂️! </h4>
                                        <p> Start to connect with to increase your entrepreneurship skills 🚀.   </p>
                                    </div>
                                    <div class="s-link">
                                      <a href="https://www.patreon.com/allanballester" target="blank"><i class="fab fa-patreon"></i></a>
                                        <a href="https://www.linkedin.com/in/allan-ballester-9b6933130/#" target="blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://www.facebook.com/allanballesterr" target="blank"><i class="fa fa-facebook"></i></a>

                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                              <h4 class= "title-wow">Allan BALLESTER</h4>
                                <span class= "title-wow">Founder 🚀 <!-- &amp; ceo --></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547630666/WhatsApp_Image_2018-02-14_at_21.54.13_1_1_zi9lb0.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hello Lille 🇫🇷! </h4>
                                        <p> Start to connect with me to start Rising and develop your self confidence 😉.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.instagram.com/elise.delecroix/?hl=en" target="blank"><i class="fa fa-instagram"></i></a>
                                        <a href="https://www.linkedin.com/in/elise-delecroix-069619111/" target="blank"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                               <h4 class= "title-wow">Elise DELECROIX</h4>
                                <span class= "title-wow">RiSER in Lille 🇫🇷   <!-- &amp; ceo --></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547637080/P1033471_1_1_1_z5mtbs.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hello Hackers 🥋 ! </h4>
                                        <p> Star to connect with me to increase your Communication and Marketing skills 🍼.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.flickr.com/photos/alexandreleroy/" target="blank"><i class="fa fa-flickr"></i></a>
                                        <a href="https://www.linkedin.com/in/iamalexandreleroy/" target="blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="hhttps://www.instagram.com/alivexandre/?hl=en" target="blank"><i class="fa fa-instagram"></i></a>
                                        <a href="https://www.facebook.com/alexandre.leroy.142" target="blank"><i class="fa fa-facebook"></i></a>
                                        <a href="https://medium.com/@alexandre_leroy" target="blank"><i class="fa fa-medium"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Alexandre LEROY</h4>
                                <span class= "title-wow">Growth Hacker 👽  <!-- &amp; ceo --></span>
                            </div>
                        </div>
                    </div>

                      <div class="row">

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547637261/P1044605_2_2_xn7elr.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Hi future Riser 🙋🏻‍♂!</h4>
                                        <p>My profile is under construction. Soon you'll be able to connect with me.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Léa WOITTEQUAND</h4>
                                <span class= "title-wow">RiSER in Lille 🇫🇷</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547636944/P1033444_1_1_iiesiq.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Hi future Riser 🙋🏻‍♂!</h4>
                                        <p>My profile is under construction. Soon you'll be able to connect with me.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Kevin COSTE</h4>
                                <span class= "title-wow">MALE NURSE 👨🏻‍⚕️</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547633603/7da880f4-c6f3-4c06-a2ca-69d4ca4aa1fe_cy7lco.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Hi future Riser 🙋🏻‍♂!</h4>
                                        <p>My profile is under construction. Soon you'll be able to connect with me.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Caroline FLAMENT</h4>
                                <span class= "title-wow">RiSER in Lille 🇫🇷</span>
                            </div>
                        </div>
                     </div>

                     <div class="row">

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547636632/03cb7284-e97c-4045-aa92-a8a6cb05e1af_tek999.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Hi future Riser 🙋🏻‍♂!</h4>
                                        <p>My profile is under construction. Soon you'll be able to connect with me.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Kevin HERISSE</h4>
                                <span class= "title-wow">RiSER in Lille 🇫🇷</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547636842/photo_12_1_1_mhnjha.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Hi future Riser 🙋🏻‍♂!</h4>
                                        <p>My profile is under construction. Soon you'll be able to connect with me.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Mohammed THIAM</h4>
                                <span class= "title-wow">SEO Consultant 💻</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547637458/IMG_7938_1_fbvyii.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Hi future Riser 🙋🏻‍♂!</h4>
                                        <p>My profile is under construction. Soon you'll be able to connect with me.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Alexis DUFOUR</h4>
                                <span class= "title-wow">Fullstack Developer 👨‍💻</span>
                            </div>
                        </div>
                     </div>


                      <div class="row">

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547637983/Screen_Shot_2019-01-16_at_12.25.48_fouozp.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Hi future Riser 🙋🏻‍♂!</h4>
                                        <p>My profile is under construction. Soon you'll be able to connect with me.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Mikel CAZENAVE</h4>
                                <span class= "title-wow">Graphic Designer 👨🏻‍🎨</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547638125/P1122190_1_diccmv.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Hi future Riser 🙋🏻‍♂!</h4>
                                        <p>My profile is under construction. Soon you'll be able to connect with me.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h4 class= "title-wow">Laurene CARREZ</h4>
                                <span class= "title-wow">Graphic Designer 👨🏻‍🎨</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://res.cloudinary.com/dk9kkvy1o/image/upload/v1547639937/26815446_10214032284793496_8575122238500112743_n_1_1_s0rmid.jpg" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4> Our community make us better.</h4>
                                        <p> Become a RiSEr, share your skills, mix them with others, discover new ones. WIth the wonderful purpose to make poverty step back.</p>
                                    </div>
                                    <!-- <div class="s-link">
                                        <a href="https://www.facebook.com/WeRisers/"><i class="fa fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/rise_homeless_giving/?hl=en"><i class="fa fa-instagram"></i></a>
                                        <a href="https://www.linkedin.com/company/risekindness/"><i class="fa fa-linkedin"></i></a>
                                    </div> -->
                                </div>
                            </div>
                            <!-- <div class="team-title">
                                <h4 class= "title-wow">Will you be the next ?</h4>
                                <span class= "title-wow"> </span>
                            </div> -->
                        </div>
                     </div>
                </div>



<!-- <div class="col-xs-12 col-sm-8 col-md-8 offset-4 ">
<p class= "text-donation hidden-xs"> <br> <%= t("donationn") %>   </p>

<p class= "hidden-sm hidden-md hidden-lg"> <%= t("donationn") %> </p>

<%= link_to t("readart"), "https://medium.com/@allan.ballester/at-rise-we-do-not-cheat-your-money-we-give-it-colours-for-people-in-need-how-62ff48c39529" , class: "navbar-wagon-item navbar-wagon-link btn-yours4" %> -->

<!-- <div class = "text-center">

  <%= link_to t("readart"), "https://medium.com/@allan.ballester/at-rise-we-do-not-cheat-your-money-we-give-it-colours-for-people-in-need-how-62ff48c39529" , class: "navbar-wagon-item navbar-wagon-link btn-yours4" %>

<% [5, 10, 25, 50].each do |amount| %>

  <%= form_tag donations_path(amount: amount), class: "inline-buttons donation3" do %>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="RiSE"
      data-description=" RiSE <%= amount %>€ Donation"
      data-amount="<%= amount*100 %>"
      data-label="Donate <%= amount %>€"
      data-email="<%= current_riser&.email%>"
      data-currency="<%= @donation.amount.currency %>">
    </script>

  <% end %>

<% end %>

</div> -->
<!--
<%= image_tag "http://res.cloudinary.com/dk9kkvy1o/image/upload/v1504210988/hostiso-stripe_al5phm.png", class: "donation2" %> -->
</div>

</div>

</div>


