<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:604979,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<% content_for :title, "Homelesses Giving and Sharing Platform - Rise" %>

<div class= "banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dk9kkvy1o/image/upload/v1503689864/Homeless01_rjiwso.jpg');">
  <div class="banner-content">
    <h1><i class="fa fa-paper-plane" aria-hidden="true"></i>RiSE</h1>
    <p class="big p"> Give food, goods, skills or hospitality to people in need</p>
   <form class="form-inline" action="/homelesses" method="get" id="ButtonGeoloc">
  <div class="form-group">
    <input type="text" class="form-control location" name="location" id="homeless_location" placeholder="Where?">
    <button class = "btn btn-yours" type="submit"> Find </button>
  </div>
  </div>
</form>
  </div>

<div class="col-xs-12 col-sm-6 col-md-6 text-center card">
<div class= "banner-little" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dk9kkvy1o/image/upload/v1503689864/Homeless01_rjiwso.jpg');">
<%= link_to "Update Homeless position", search_homelesses_path, class: "btn btn-yours btn-find " %>
 </div>
 </div>

 <div class="col-xs-12 col-sm-6 col-md-6 text-center card">
<%= link_to "Add new Homeless", new_homeless_path, class: "btn btn-yours btn-find " %>
 </div>


<div class="container" id="home-giders">
  <h5 class= "text-center text-space"> How was your Riser's experience ? </h5>
  <div class="row">
    <% @feedbacks.each do |gider| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
       <div class="testimonial">
                        <div class="pic"><%= image_tag gider[:picture] %> </div>
                        <h3 class="testimonial-title"><%= gider[:name] %></h3>
                        <small class="post"><%= gider[:location] %></small>
                        <p class="description">
                            <%= gider[:description][0..170] %>...
                        </p>
                    </div>
      </div>
    <% end %>
  </div>
</div>



