
<% content_for :title, t("title") %>

<div class= "banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dk9kkvy1o/image/upload/v1503935735/homeless_x9fd0x.jpg');">
  <div class="banner-content">
    <h1><i class="fa fa-paper-plane" aria-hidden="true"></i>RiSE</h1>
    <p class="big p"> <%= t("baseline") %> </p>

   <form class="form-inline" action="<%= homelesses_path %>" method="get" id="ButtonGeoloc">
  <div class="form-group">
    <input type="text" class="form-control location" name="location" id="homeless_location" placeholder= "<%= t('where') %>">
    <button class = "btn btn-yours" type="submit"> <%= t("Find") %> </button>
  </div>
  </div>
</form>
  </div>

  <h5 class="bit-space"> <%= t("second-line")%> </h5>

  <div class= "row">
<div class="col-xs-12 col-sm-6 col-md-6 text-center width-large">
<div class= "banner-little text-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),  url('http://res.cloudinary.com/dk9kkvy1o/image/upload/c_scale,w_696/v1504015852/maxresdefault_4_czp2bg.jpg');">
  <%= link_to t("update"), search_homelesses_path, class: "btn btn-card2" %>
 </div>
 </div>

 <div class="col-xs-12 col-sm-6 col-md-6 text-center width-large">
  <div class= "banner-little text-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%) , url('http://res.cloudinary.com/dk9kkvy1o/image/upload/v1503689864/Homeless01_rjiwso.jpg');">
  <%= link_to t("add-homeless"), new_homeless_path, class: "btn btn-card" %>
  </div>
 </div>
 </div>


<div class="container" id="home-giders">
  <h5 class= "text-center text-space"> <%= t("feedback")%> </h5>
  <div class="row">
  <% first_feedback = true %>
    <% @feedbacks.each do |gider| %>
      <div class="col-xs-12 col-sm-6 col-md-4 <%= 'hidden-xs' unless first_feedback.present? %>">
       <div class="testimonial">
                        <div class="pic"><%= image_tag gider[:picture] %> </div>
                        <h3 class="testimonial-title"><%= gider[:name] %></h3>
                        <small class="post"><%= gider[:location] %></small>
                        <p class="description">
                            <%= gider[:description][0..170] %>...
                        </p>
                    </div>
      </div>
    <% first_feedback = false %>
    <% end %>
  </div>
</div>




