<!DOCTYPE html>
<html>
  <head>
  <meta property="og:title" content="Rise | Homelesses Giving and Sharing Platform">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://risekindness.com/">
  <meta property="og:image" content="http://res.cloudinary.com/dk9kkvy1o/image/upload/v1503600921/rise_gry8ij.jpg">
  <meta property="og:description" content="Rise is the revolutionnary collaborative platform to share generosity with the local Homelesses of your city. Provide food, goods, skills or hospitality.">
  <meta property="og:site_name" content="Rise ">


    <title> <%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

     <%= favicon_link_tag 'risee.png' %>
  </head>

  <body>
 <%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>

    <%= yield %>
    <div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://github.com/AllanBallester/RiSE"><i class="fa fa-github"></i></a>
    <a target="_blank" href="https://join.slack.com/t/needafewgotalot/shared_invite/MjIwNTE4NzM2NzY5LTE1MDE2NzM4MzctOGIyMjk5YjAwMA"><i class="fa fa-slack"></i></a>
    <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
    <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
    <a target="_blank" href="https://www.linkedin.com/company-beta/25009956/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website and all RiSE Social Business is made by People's time and kindness. Nothing else.
  </div>
</div>


  <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=AIzaSyDuLStTlfI2-db0vmAwwENL7MKNFN3q1YY" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= yield(:after_js) %>

  </body>
</html>
